//Colors
$dark: #000;
$light: #fff;
$primary: rgba(124, 37, 116, 1);
$gradient: linear-gradient(rgb(184, 46, 138), $primary);
$label-hover: rgba(124, 37, 116, 0.5);

$box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.36);

b{
    color: $primary;
}

//Fonts
$h1-sizes: (
    null: 3rem,
    768px: 3.5rem,
    1024px: 4rem
);
$h2-sizes: (
    null: 2.8rem,
    768px: 3rem,
    1024px: 3.4rem
);
$h3-sizes: (
    null: 2rem,
    768px: 2.3rem,
    1024px: 2.5rem
);
$h4-sizes: (
    null: 1.2rem,
    768px: 1.5rem,
    1024px: 1.8rem
);
$p-sizes: (
    null: 1.2rem,
    768px: 1.5rem,
    1024px: 1.8rem
);
h1{
    @include fs($h1-sizes)
}
h2{
    @include fs($h2-sizes)
}
h3{
    @include fs($h3-sizes)
}
h4{
    @include fs($h4-sizes)
}
p{
    @include fs($p-sizes)
}
