@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import 'abstracts';
@import 'typography';
@import './components/components';
@import './components/modal';
@import './components/nav';
@import './components/footer';
@import './pages/index';
@import './pages/about';
@import './pages/contact';
@import './pages/services';
@import './pages/gallery';
@import './pages/schedule';
@import './pages/messages';
@import './pages/appointments';
@import './pages/admin';
@import './pages/login';


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lora', serif;
    overflow-x: hidden;
}



