@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    /* --primary: #7C2574; */
    --primary: rgba(124, 37, 116, 1);
    --gradient: linear-gradient(rgb(184, 46, 138), var(--primary));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

b{
    color: var(--primary);
}

/* Nav */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    background-color: rgba(0, 0, 0, 0.753);
    font-size: 1.5rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}
#nav-phone{
    color: #fff;
    font-size: 1.5rem;
}

.logo{
    max-height: 4.5rem;
    margin-left: 3rem;
    border-radius: 40%;
    transition: transform 300ms ease-in-out;
}

.navLinks{
    float: right;
    display: flex;
    list-style: none;
    align-items: center;
    column-gap: 2rem;
    margin-right: 10rem;
    min-height: 100%;
}

.navLinks a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    transition: color 600ms ease;
}

.navLinks a:hover{
    color: var(--primary);
}
.current-page a{
    border-bottom: 2px solid #fff;
}

.logo:hover{
    transform: scale(1.2) translateY(10px);
}

/* Small Screen Nav */
.small-screen-nav{
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    background-color: rgba(0, 0, 0, 0.753);
    font-size: 1.5rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

.menu-btn{
    color: #fff;
    position: fixed;
    top: 0;
    right: 3rem;
    z-index: 102;
}
/* Modal */
#modal{
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
    margin-top: 4.5rem;
}
#modalContent{
    max-width: 1100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 3rem;
    text-align: center;
    background-color: #f1efef;
    max-height: 100%;
    height: 500px;
    width: 70vw;
    box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.36);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}
.modalFadeIn{
    animation-name: modalFadeIn;
    animation-duration: 2000ms;
    animation-timing-function: ease-out;
}
#modalContent p{
    font-size: 2rem;
    border-bottom: 2px solid wheat;
    border-top: 2px solid wheat;
}
#modalCloseBtn{
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: -3%;
}
#modalCloseBtn:hover{
    color: wheat;
}
#modalScheduleBtn{
    border: none;
    padding: 1em 2.5em;
    width: fit-content;
    border-radius: 5%;
    font-size: 1.3rem;
    background-color: wheat;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}
#modalContent span{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
#modalEmail{
    font-size: 1.3rem;
    height: 3rem;
}
#modalSignup{
    border: none;
    padding: 1em 2.5em;
    width: fit-content;
    border-radius: 5%;
    font-size: 1.3rem;
    background-color: wheat;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}
#modalScheduleBtn:hover,
#modalScheduleBtn:focus,
#modalSignup:hover,
#modalSignup:focus{
    background-color: #000;
    color: wheat;
}

/* About */
.break{
    width: 100vw;
    height: 16rem;
    background-image: var(--gradient);
    color: #fff;
    text-align: center;
    
}

.break h1{
    font-size: 4rem;
    position: relative;
    bottom: -5rem;
    text-shadow: 5px 10px 40px rgba(0,0,0,1);
}

.container{
    position: relative;
    margin: 4rem auto;
    max-width: 1100px;
}

.about .break{
    margin-top: 4.5rem;
}

.about-grid{
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'a1img a1h2'
    'a1img a1p'
    'a2h2 a2img1'
    'a2p1 a2img1'
    'a2p2 a2img2'
    '. a2img2';
    row-gap: 5rem;
    column-gap: 4rem;
    max-width: max-content;
}

.about-grid img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

#a1h2,
#a2h2 {
    text-align: center;
    font-size: 2.3rem;
    color: var(--primary);
    font-weight: bold;
    letter-spacing: 2px;
}

.about-grid p {
    font-size: 1.8rem;
}

#a1img{
    grid-area: a1img;
}
#a2img1{
    grid-area: a2img1;
}
#a1h2{
    grid-area: a1h2;
}
#a2h2{
    grid-area: a2h2;
}
#a1p{
    grid-area: a1p;
}
#a2p1{
    grid-area: a2p1;
}
#a2p2{
    grid-area: a2p2;
}

#a2p2{
    position: relative;
    margin: auto 0;
}

/* Line Up */
.click-on-barber{
    width: fit-content;
    margin: 3rem auto 0 auto;
    text-align: center;
}
.click-on-barber h2{
    font-size: 2rem;
}
.line-up-grid{
    display: grid;
    max-width: max-content;
    margin: 4rem auto;
    gap: 5rem;
    grid-template-areas:
    'profile1 profile2'
    'profile3 profile4';
}

.line-up-grid img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.barber-info{
    max-width: 500px;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.barber-info h2{
    color: var(--primary);
    font-size: 2rem;
}

.barber-info p{
    font-size: 1.3rem;
}

.barber-info img{
    transition: all 400ms ease;
}

.barber-info img:hover{
    transform: scale(0.9);
    border-radius: 10%;
}
.profile-1{
    grid-area: profile1;
}
.profile-2{
    grid-area: profile2;
}
.profile-3{
    grid-area: profile3;
}
.profile-4{
    grid-area: profile4;
}
#profile-1{
    object-position: left;
}

.profile-2,
.profile-4 {
    grid-column-end: end;
}

#profile-2{
    object-position: right;
}

#profile-3 {
    object-position: 35%;
}

#profile-4{
    object-position: 75%;
}
.barber-icons {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.barber-icons i{
    color: #000;
    transition: all 600ms ease;
}

.barber-icons i:hover{
    color: var(--primary);
}
.line-up a:focus,
.info a:focus{
    outline: 5px solid var(--primary);
}

/* Info */
.info-grid{
    position: relative;
    margin: 4rem auto;
    max-width: 1300px;
    row-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 500px);
    column-gap: 10rem;
    grid-template-areas: 
    's-h1 g-h1'
    's-img g-img';
    
}

.services{
    height: 500px;
    width: 500px;
    background-image: url(/assets/chair.jpeg);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: s-img;
    transition: all 400ms ease;
}

.gallery{
    height: 500px;
    width: 500px;
    background-image: url(/assets/afro-taper.jpg);
    background-position: center;
    background-size: cover;
    grid-area: g-img;
    transition: all 400ms ease;
}

.services:hover,
.gallery:hover {
    transform: scale(0.9);
    border-radius: 10%;
}

#s-h1 {
    grid-area: s-h1;
}

#g-h1 {
    grid-area: g-h1;
}

#s-h1,
#g-h1 {
    font-size: 2.4rem;
    text-align: center;
    color: var(--primary)
}

/* Footer */
.footerWrap{
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    min-height: max-content;
    width: 100vw;
    padding: 1rem 4rem;
    background-color: #000;
    color: #fff;
}

.footerWrap ul{
    list-style: none;
}

.footerWrap a{
    text-decoration: none;
    color: #fff;
    transition: color 600ms ease;
    
}

.footerWrap a:hover{
    color: var(--primary);
}

.footerLogo img {
    max-width: 10rem;
    height: auto;
}

.icons {
    display: flex;
    justify-content: space-between;
}

#copyright{
    position: absolute;
    bottom: 0;
    left: 1rem;
    color: #fff;
    z-index: 99;
}


/* Media Queries */

@media (max-width: 1300px){
    .info-grid{
        grid-template-columns: 1fr;
        grid-template-areas: 
    's-h1'
    's-img'
    'g-h1'
    'g-img';
    max-width: max-content;    
    }
    #nav-phone{
        display: none;
    }
    
}

@media (max-width: 1150px){
    nav{
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        background-color: rgba(22, 22, 22, 0.589);
        height: 100vh;
        font-size: 1.5rem;
        font-weight: bold;
        position: fixed;
        top: 0;
        left: 0;
        width: max-content;
        transition: transform 400ms ease-in-out;
        transform: translateX(-50rem);
    }
    .navLinks{
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        padding-left: 1rem;
    }

    #nav-phone{
        padding-left: 1rem;
        display: block;
    }
    .small-screen-nav{
        display: flex;
    }

    .open{
        transform: translateX(0);
    }

    .about-grid img{
        max-width: 400px;
        max-height: 400px;
    }
    #a1h2,
    #a2h2{
        font-size: 1.8rem;
    }
    #a1p,
    #a2p1,
    #a2p2{
        font-size: 1.4rem;
    }

    .line-up-grid{
        margin: 4rem;
    }
    .line-up-grid img{
        max-width: 40vw;
        max-height: 40vw;
    }
    .barber-info{
        max-width: 40vw;
        height: 40rem;
    }
    .barber-info h2{
        font-size: 1.5rem;
    }
    .barber-info p{
        font-size: 1rem;
    }
}

@media (max-width: 950px){
   .about-grid{
       grid-template-columns: 1fr;
       grid-template-areas: 
       'a1h2'
       'a1img'
       'a1p'
       'a2h2'
       'a2img1'
       'a2p1'
       'a2img2'
       'a2p2';
       max-width: max-content;
       text-align: center;
   }
   .about-grid img{
       justify-self: center;
       max-width: 70vw;
       max-height: 70vw;
   }

   .line-up-grid{
       grid-template-areas: 
       'profile1'
       'profile2'
       'profile3'
       'profile4';
       max-width: max-content;
       justify-items: center;
       margin: 2rem auto;
       gap: 4rem 0;
   }
   .line-up-grid img{
    max-width: 50vw;
    max-height: 50vw;
    }
    .barber-info{
        max-width: 50vw;
        height: 35rem;
    }

    .footerWrap{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;
        grid-template-areas: 
        'footer-links hours'
        'location social'
        'footer-logo .';
    }
    .footerLinks{
        grid-area: footer-links;
    }
    .hours{
        grid-area: hours;
    }
    .location{
        grid-area: location;
    }
    .social{
        grid-area: social;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .icons{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
    }
    .footerLogo{
        grid-area: footer-logo;
        margin-bottom: .5rem;
    }
    #modalContent p{
        font-size: 1.5rem;
    }
    #modalScheduleBtn,
    #modalSignup,
    #modalEmail{
        font-size: 1rem;
    }
    #modalEmail{
        height: 40px;
    }
}

@media (max-width: 700px){
    .info-grid a{
        max-width: 80vw;
        max-height: 80vw;
        margin: auto;
    }
    .break h1{
        font-size: 3rem;
    }
    .click-on-barber h2{
        font-size: 1.5rem;
    }
    .barber-info{
        height: 28rem;
        max-width: 70vw;
    }
    .barber-info img{
        max-width: 70vw;
    }
    #modalContent span{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 450px){
    nav{
        max-width: 65vw;
    }
    .break h1{
        font-size: 2.5rem;
    }
    #g-h1,
    #s-h1{
        font-size: 2rem;
    }
    .footerWrap{
        display: flex;
        flex-direction: column;
    }
    .icons{
        margin-bottom: 1rem;
    }
    #modalContent p{
        font-size: 1rem;
    }
    #modalScheduleBtn,
    #modalSignup,
    #modalEmail{
        font-size: .7rem;
    }
}
/* Animations */
/* Modal */
@keyframes modalFadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}