@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --primary: rgba(124, 37, 116, 1);
    --gradient: linear-gradient(rgb(184, 46, 138), var(--primary));
}
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

b{
    color: var(--primary);
}

/* Nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    background-color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}
#nav-phone{
    color: #fff;
    font-size: 1.5rem;
}

.logo{
    max-height: 4.5rem;
    margin-left: 3rem;
    border-radius: 40%;
    transition: transform 300ms ease-in-out;
}

.navLinks{
    float: right;
    display: flex;
    list-style: none;
    align-items: center;
    column-gap: 2rem;
    margin-right: 10rem;
    min-height: 100%;
}

.navLinks a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    transition: color 600ms ease;
}

.navLinks a:hover{
    color: var(--primary);
}

.current-page a{
    border-bottom: 2px solid #fff;
}

.logo:hover{
    transform: scale(1.2) translateY(10px);
}

/* Small Screen Nav */
.small-screen-nav{
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    background-color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

.menu-btn{
    color: #fff;
    position: fixed;
    top: 0;
    right: 3rem;
    z-index: 102;
}

/* Schedule Section */
.break{
    width: 100vw;
    height: 16rem;
    background-image: var(--gradient);
    color: #fff;
    text-align: center;
    margin-top: 4.5rem;   
}

.break h1{
    font-size: 4rem;
    position: relative;
    bottom: -5rem;
    text-shadow: 5px 10px 40px rgba(0,0,0,1);
}
#sectionWrap{
    position: relative;
    min-height: 1200px;
    max-width: 1100px;
    margin: 4rem auto;
    background-color: #fff;
}

.schedule-section{
    display: grid;
    column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.schedule-section h1{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.schedule-section h2{
    font-size: 1.5rem;
}

.schedule-section p{
    font-size: 1.2rem;
}

.schedule-section input[type=checkbox],
.schedule-section input[type=radio]{
    display: none;
}

.schedule-section input:checked + label{
    background-color: var(--primary);
    color: #fff;
}

.schedule-section input:checked + label::before{
    display: none;
}

.schedule-section label{
    display: inline-block;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: all 250ms ease-out;
}

.services label::before,
.staff-members label::before{
    display: inline-block;
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
}

.services label:hover::before,
.staff-members label:hover::before{
    background-color: rgba(124, 37, 116, 0.5);
}

.services label::before{
    height: 4rem;
}

.staff-members label::before{
    height: 2.3rem;
}

.services,
.staff-members{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.36);
    padding: 1.3rem 0;
    position: relative;
}

/* Date And Time */
.dateAndTime{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem auto;
    width: 40vw;
}
#date{
    transform: scale(1.7);
    width: max-content;
    margin: 2rem 0;
    /* position: absolute; */
}
.date{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.time{
    text-align: center;
    width: 100%;
}

.time-list{
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.36);
}
.time-list input{
    display: none;
}
.time-list label{
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
    font-size: 1.5rem;
}
.time-list label::before{
    display: inline-block;
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2.2rem;
}
.time-list label:hover::before{
    background-color: rgba(124, 37, 116, 0.5);
}
.time-list input:checked + label{
    background-color: var(--primary);
    color: #fff;
}

.time-list input:checked + label::before{
    display: none;
}

/* Your Info */
#apptInfo{
    margin: 0 auto;
    position: relative;
    grid-template-columns: 1fr 1fr;
}
.yourInfo{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 1rem;
}
.yourInfo h2{
    text-align: center;
}
.yourInfo input{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: #000 1px solid;
    height: 2rem;
    font-size: 1.5rem;
}
.yourInfo input:focus{
    outline: none;
    border-bottom: solid 3px var(--primary);
}
/* Appointment Details */
.detailsList{
    list-style: none;
    margin-top: 1rem;
}
.apptDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.36);
    padding: 1.5rem;
}
.apptDetails i{
    text-align: center;
}

/* Payment */
#payment h1{
    text-align: center;
    font-size: 3rem;
}
#disclaimer{
    text-align: center;
}
.paymentMethod{
    position: relative;
    box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.36);
    width: 750px;
    margin: 4rem auto;
}
.paymentMethod h2{
    text-align: center;
}
.method{
    display: flex;
    flex-direction: column;
}
.method input[type=radio]{
    display: none;
}
.method label{
    cursor: pointer;
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
    border-top: 1px solid rgba(211, 211, 211, 0.5);
}
.method label::before{
    display: inline-block;
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2.6rem;
}
.method label:hover::before{
    background-color: rgba(124, 37, 116, 0.5);
}
.payDetails{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: all 400ms ease-in;
}

.payDetails input[type=text],
.payDetails input[type=number],
.payDetails input[type=password]{
    height: 1.8rem;
    min-width: 40%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #000;
}
.payDetails input:focus{
    outline: none;
    border-bottom: solid 3px var(--primary);
}
.payDetails select:focus{
    border: solid 3px var(--primary);
}

.cardMethod .payDetails{
    display: grid;
    grid-template-columns: 15% 15% 15% 55%;
    grid-template-areas:
    'noc noc noc noc'
    'cardNumber cardNumber cardNumber cardNumber'
    'expm expy . .'
    'mm yy cvv .';
    row-gap: 1rem;
}
#noc{
    grid-area: noc;
}
#cardNumber{
    grid-area: cardNumber;
}
#expMonth{
    grid-area: expm;
}
#expYear{
    grid-area: expy;
}
#cardMonth{
    grid-area: mm;
}
#cardYear{
    grid-area: yy;
}
#cvv{
    grid-area: cvv;
}
#cardMonth,
#cardYear{
    max-width: 80%;
}

.paypalMethod .payDetails,
.appleMethod .payDetails,
.googleMethod .payDetails{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.payDetailsShow{
    height: 100px;
    margin: .4rem 2rem;
}
.cardMethod .payDetailsShow{
    height: 200px;
}
.selectedLabel{
    background-color: var(--primary);
    color: #fff;
}
.page{
    /* transform: translateX(-1000%); */
    display: none;
    transition: transform 500ms ease-out;
    position: absolute;
}
.pageShow{
    transform: translateX(0);
    display: block;
}
.schedule-section.pageShow{
    display: grid;
}
.dateAndTime.pageShow{
    display: flex;
}
#apptInfo.pageShow{
    display: grid;
}
#backBtn,
#continueBtn{
    position: absolute;
    bottom: 0;
    cursor: pointer;
    background-color: wheat;
    border: none;
    font-size: 1.3rem;
    padding: 1rem 2.5rem;
    border-radius: 5%;
}
#backBtn:hover,
#backBtn:focus,
#continueBtn:hover,
#continueBtn:focus{
    color: wheat;
    background-color: #000;
}
#backBtn{
    right: 20%;
    display: none;
}
#continueBtn{
    right: 0;
    display: none;
}

/* Info */
.info-grid{
    position: relative;
    margin: 4rem auto;
    max-width: 1300px;
    row-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 500px);
    column-gap: 10rem;
    grid-template-areas: 
    'g-h1 a-h1'
    'g-img a-img';
    
}

.gallery{
    height: 500px;
    width: 500px;
    background-image: url(/assets/afro-taper.jpg);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: g-img;
    transition: transform 400ms ease, border-radius 400ms ease;
}

.learnMore{
    height: 500px;
    width: 500px;
    background-image: url(/assets/team.jpg);
    background-position: center;
    grid-area: a-img;
    transition: transform 400ms ease, border-radius 400ms ease;
}

.gallery:hover,
.learnMore:hover {
    transform: scale(0.9);
    border-radius: 10%;
}
.info a:focus{
    outline: 5px solid var(--primary);
}

#g-h1 {
    grid-area: g-h1;
}

#a-h1 {
    grid-area: a-h1;
}

#g-h1,
#a-h1 {
    font-size: 2.4rem;
    text-align: center;
    color: var(--primary)
}

/* Footer */
.footerWrap{
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    min-height: max-content;
    width: 100vw;
    padding: 1rem 4rem;
    background-color: #000;
    color: #fff;
}

.footerWrap ul{
    list-style: none;
}

.footerWrap a{
    text-decoration: none;
    color: #fff;
    transition: color 600ms ease;
    
}

.footerWrap a:hover{
    color: var(--primary);
}

.footerLogo img {
    max-width: 10rem;
    height: auto;
}

.icons {
    display: flex;
    justify-content: space-between;
}
#copyright{
    position: absolute;
    bottom: 0;
    left: 1rem;
    color: #fff;
    z-index: 99;
}

@keyframes buttonPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

/* Media Queries */
@media(min-width: 1300px){
    #backBtn,
    #continueBtn{
        bottom: 30%;
    }
    #backBtn{
        right: 17%;
    }
}

@media (max-width: 1300px){
    .info-grid{
        grid-template-columns: 1fr;
        grid-template-areas: 
    'g-h1'
    'g-img'
    'a-h1'
    'a-img';
    max-width: max-content;    
    }
    #nav-phone{
        display: none;
    }
}

@media (max-width: 1150px){
    nav{
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        background-color: rgba(22, 22, 22, 0.589);
        height: 100vh;
        font-size: 1.5rem;
        font-weight: bold;
        position: fixed;
        top: 0;
        left: 0;
        width: max-content;
        transition: transform 400ms ease-in-out;
        transform: translateX(-50rem);
    }
    .navLinks{
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        padding-left: 1rem;
    }

    #nav-phone{
        padding-left: 1rem;
        display: block;
    }
    .small-screen-nav{
        display: flex;
    }

    .open{
        transform: translateX(0);
    }

    #sectionWrap{
        display: flex;
        justify-content: center;
    }
    .schedule-section{
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 2rem;
    }

    #continueBtn,
    #backBtn{
        bottom: -4%;
        transform: translateX(50%);
    }
    #continueBtn{
        right: 36%;
    }
    #backBtn{
        right: 65%;
    }
    #apptInfo{
        grid-template-columns: 400px;
        grid-template-rows: 400px 500px;
    }
    .apptDetails{
        max-height: 375px;
    }
}

@media (max-width: 950px){
    .apptDetails{
        max-height: 450px;
    }
    .footerWrap{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;
        grid-template-areas: 
        'footer-links hours'
        'location social'
        'footer-logo .';
    }
    .footerLinks{
        grid-area: footer-links;
    }
    .hours{
        grid-area: hours;
    }
    .location{
        grid-area: location;
    }
    .social{
        grid-area: social;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .icons{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
    }
    .footerLogo{
        grid-area: footer-logo;
        margin-bottom: .5rem;
    }
}

@media (max-width: 700px){
    #payment h1{
        max-width: 90vw;
    }
    .paymentMethod,
    .apptDetails{
        max-width: 90vw;
    }
    .apptDetails{
        margin: 0 auto;
    }
    .info-grid a{
        max-width: 80vw;
        max-height: 80vw;
        margin: auto;
    }    
    .break h1{
        font-size: 3rem;
    }
}

@media (max-width: 450px){
    nav{
        max-width: 65vw;
    }
    .schedule-section{
        max-width: 90vw;
    }
    .schedule-section h1{
        font-size: 1.8rem;
    }
    .schedule-section h2{
        font-size: 1.2rem;
    }
    #backBtn,
    #continueBtn{
        font-size: 1rem;
        padding: .6rem 1rem;
    }
    .dateAndTime{
        width: 90vw;
    }
    #apptInfo{
        grid-template-columns: 90vw;
    }
    .cardMethod .payDetails{
        grid-template-columns: 30% 30% 30% 10%;
    }
    .break h1{
        font-size: 2.5rem;
    }
    #g-h1,
    #a-h1{
        font-size: 2rem;
    }
    .learnMore{
        background-position: bottom center;
    }
    .footerWrap{
        display: flex;
        flex-direction: column;
    }
    .icons{
        margin-bottom: 1rem;
    }
}
@media(max-width: 320px){
    .apptDetails{
        max-height: 500px;
    }
}