<footer>
    <div class="footerWrap">
        <ul class="footerLinks">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/schedule">Schedule Appointment</a></li>
            <% if(user) {%>
                <li><a href="/logout">Log Out</a></li>
            <%} else {%>
                <li><a href="/login">Log In</a></li>
            <%}%>
        </ul>
        <ul class="hours">
            <li><h4>Hours</h4></li>
            <li>Tue-Fri: 7a-7p</li>
            <li>Sat: 9a-7p</li>
            <li>Sun-Mon: Closed</li>
        </ul>
        <ul class="location">
            <li><h4>Location</h4></li>
            <li>123 Main Street</li>
            <li>Big City, NY 12345</li>
        </ul>
        <div class="social">
            <p>(123)-456-7890</p>
                <ul class="icons">
                    <li><a href="https://instagram.com">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a></li>
                    <li><a href="https://twitter.com">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a></li>
                    <li><a href="https://facebook.com">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a></li>
                </ul>
        </div>
        <span id="copyright">&copy 2021 Super Cool Barber Shop</span>
    </div>
</footer>