<header>
    <div class="small-screen-nav">
        <a href="/">
            <img src="/assets/nav-logo.PNG" alt="logo" class="logo">
        </a>
        <div class="menu-btn">
            <i class="fas fa-bars fa-3x"></i>
        </div>
    </div>
    
    <nav>
        <a id="home" href="/">
            <img src="/assets/nav-logo.PNG" alt="logo" class="logo">
        </a>
        <h3 id="nav-phone">(123) 456-7890</h3>
        <ul class="navLinks">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a  href="/services">Services</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/schedule">Schedule Appointment</a></li>
        </ul>
    </nav>
</header>