<div id="modal">
    <div id="modalContent">
        <span id="modalCloseBtn">&times;</span>
        <p id="mp1">Press the button to schedule an appointment!</p>
        <a href="/schedule" id="modalScheduleBtn" class="btn--wheat">Schedule Now</a>
        <p id="mp2">Not ready? Enter your email to be notified about our latest deals and events.</p>
        <span>
            <form action="/newsletter" method="POST">
                <input type="email" name="modalEmail" id="modalEmail" placeholder="Email Address" required>
                <button id="modalSignup" class="btn--wheat">Sign Up</button>
            </form>
        </span>
    </div>
</div>