/* Small Screen Nav */
.small-screen-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    background-color: rgba(0, 0, 0, 0.98);
    font-size: 1.5rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;

    
}

.menu-btn{
    color: #fff;
    position: fixed;
    top: 0;
    right: 3rem;
    z-index: 102;
}

.open{
    transform: translateX(0);
}

/* Nav */
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 4.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 1.5rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;

    .logo{
        display: none;
    }
    @include transition-ease;
    transform: translateX(-70rem);
}


#nav-phone{
    color: #fff;
    font-size: 1.5rem;
    padding-left: 1rem;
    
}

.logo{
    max-height: 4rem;
    margin-left: 3rem;
    border-radius: 40%;
    transition: transform 300ms ease-in-out;
}


.navLinks{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    row-gap: 1rem;
    padding-left: 1rem;
    min-height: 100%;
}

.navLinks a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    transition: color 600ms ease;
}

.navLinks a:hover{
    color: var(--primary);
}

.logo:hover{
    transform: scale(1.2) translateY(10px);
}

@include mq(1024px){
    .small-screen-nav,
    #nav-phone{
        display: none;
    }
    nav{
        transform: translateX(0);
        flex-direction: row;
        height: 4.5rem;
        width: 100vw;
        gap: 0;
        align-items: center;
        font-size: 1.5rem;
        margin-top: 0;

        .logo{
            display: inline-block;
        }
    }
    .navLinks{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding-right: 2rem;

        li{
            margin: 0 .3rem;
        }
    }
}

@include mq(1224px){
    #nav-phone{
        display: inline-block;
        padding-left: 0;
    }
}

