.gallery-container{
    @extend .container;
    max-width: 1400px;
}
.image-gallery{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas:
    'g-img1'
    'g-img2'
    'g-img3'
    'g-img4'
    'g-img5'
    'g-img6'
    'g-img7'
    'g-img8'
    'g-img9'
    'g-img10'
    'g-img11'
    'g-img12';

    @include mq(600px){
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        'g-img1 g-img2'
        'g-img3 g-img4'
        'g-img5 g-img6'
        'g-img7 g-img8'
        'g-img9 g-img10'
        'g-img11 g-img12';
        gap: 1.5rem;
    }
    @include mq(1024px){
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        'g-img1 g-img2 g-img3'
        'g-img4 g-img5 g-img6'
        'g-img7 g-img8 g-img9'
        'g-img10 g-img11 g-img12';
    }
    @include mq(1400px){
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        'g-img1 g-img2 g-img3 g-img4'
        'g-img5 g-img6 g-img7 g-img8'
        'g-img9 g-img10 g-img11 g-img12';
    }
}
.image-gallery a{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.image-gallery a i{
    color: $light;
    font-size: 3rem;
    z-index: 2;
    padding: .5em 1em;
    border-radius: .4rem;
    opacity: 0;
    transition: opacity 500ms;
}
.image-gallery a p{
    opacity: 0;
    z-index: 2;
    transition: opacity 500ms;
    color: $light;
    margin: 0;
}
.image-gallery a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 500ms;
}
.image-gallery a:hover p,
.image-gallery a:focus p,
.image-gallery a:hover i,
.image-gallery a:focus i,
.image-gallery a:hover::before,
.image-gallery a:focus::before{
    opacity: 1;
}
#g-img1{
    grid-area: g-img1;
    background-image: url(/assets/gallery1.jpg);
}
#g-img2{
    grid-area: g-img2;
    background-image: url(/assets/gallery2.jpg);
}
#g-img3{
    grid-area: g-img3;
    background-image: url(/assets/gallery3.jpg);
}
#g-img4{
    grid-area: g-img4;
    background-image: url(/assets/gallery4.jpg);
}
#g-img5{
    grid-area: g-img5;
    background-image: url(/assets/gallery5.jpg);
}
#g-img6{
    grid-area: g-img6;
    background-image: url(/assets/gallery6.jpg);
}
#g-img7{
    grid-area: g-img7;
    background-image: url(/assets/gallery7.jpg);
}
#g-img8{
    grid-area: g-img8;
    background-image: url(/assets/gallery8.jpg);
}
#g-img9{
    grid-area: g-img9;
    background-image: url(/assets/gallery9.jpg);
}
#g-img10{
    grid-area: g-img10;
    background-image: url(/assets/gallery10.jpg);
}
#g-img11{
    grid-area: g-img11;
    background-image: url(/assets/gallery11.jpg);
}
#g-img12{
    grid-area: g-img12;
    background-image: url(/assets/gallery12.jpg);
}

/* Info - Gallery */
.gallery-info-grid{
    @extend .index-info-grid
}