<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    
    <section id="thanks">
        <h1><b>404 Page Not Found</b></h1>
    </section>
    <%- include('./partials/footer.ejs') %>
    <script src="/js/main.js"></script>
</body>
</html>